@using Sny.Web.Core
@using Sny.Web.Services.BackendProvider
@using Sny.Web.Services.UserContext
@inject IUserContext UserContext
@inject NavigationManager _navManager
@inject IBackendProvider _backendProvider

<Router AppAssembly="@typeof(Sny.Web.App).Assembly">
    <Found Context="routeData">
        <AppRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>